.field {
	position: relative;
	&.active {
		.field_label {
			transform: translateY(-1.2rem);
		}
	}
	&_label {
		position: absolute;
		top: 3.2rem;
		right: 2.4rem;
		left: 2.4rem;
		pointer-events: none;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.6;
		letter-spacing: 0.9px;
		text-transform: uppercase;
		color: $gray;
		transition: transform 0.2s;
	}
	&_input {
		width: 100%;
		height: 8rem;
		padding: 1.8rem 2.2rem 0;
		border-radius: 1.2rem;
		border: 2px solid transparent;
		background: rgba(228, 228, 228, 0.3);
		font-size: 1.4rem;
		font-weight: 600;
		color: $black;
		transition: all 0.2s;
		outline: none;
		&:focus {
			background-color: $white;
			border-color: $blue;
		}
		&.is-invalid {
			border-color: $red;
		}
	}
	&_errors {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		.invalid-feedback {
			width: 100%;
			font-size: 1.4rem;
			font-weight: 500;
			color: $red;
			&:first-child {
				margin-bottom: 1rem;
			}
		}
	}
}

select.select {
	opacity: 0;
}

.nice-select {
	@extend %pointer;
	background-color: $white;
	border-radius: 5px;
	border: solid 1px #e8e8e8;
	clear: both;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: normal;
	height: 4.2rem;
	line-height: 40rem;
	outline: none;
	padding-left: 1.8rem;
	padding-right: 3rem;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	user-select: none;
	white-space: nowrap;
	width: auto;
	.list {
		background-color: $white;
		border-radius: 5px;
		box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
		margin-top: 4px;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		left: 0;
		transform-origin: 50% 0;
		transform: scale(0.75) translateY(-21px);
		transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
		z-index: 9;
	}
	.option {
		@extend %pointer;
		font-weight: 400;
		line-height: 4rem;
		list-style: none;
		min-height: 4rem;
		outline: none;
		padding-left: 1.8rem;
		padding-right: 2.9rem;
		text-align: left;
		transition: all 0.2s;
		&.selected {
			font-weight: bold;
		}
	}
	&.open .list {
		opacity: 1;
		pointer-events: auto;
		transform: scale(1) translateY(0);
	}
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
	border-color: #999;
}

.select {
	height: 6.4rem;
	padding-left: 2rem;
	padding-right: 4.5rem;
	background: rgba(228, 228, 228, 0.3);
	border-radius: 1.6rem;
	border: none;
	float: none;
	line-height: 6.4rem;
	font-weight: 600;
	transition: all 0.2s;
	.list {
		right: 0;
		margin-top: 7px;
		padding: 2.4rem;
		border-radius: 2rem;
		border: 1px solid $gray-light;
		box-shadow: 0 5px 25px rgb(0 0 0 / 7%);
	}
	.option {
		position: relative;
		padding-left: 2.8rem;
		min-height: auto;
		line-height: 1.71429;
		font-weight: 600;
		color: $gray;
		transition: color 0.2s;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		.opt-selected {
			position: absolute;
			top: 0;
			left: 0;
			width: 16px;
			height: 13px;
			opacity: 0;
			color: $blue;
			font-size: 1.6rem;
			transition: opacity 0.2s;
			@include m {
				display: none;
			}
		}
		&.selected {
			color: $blue;
			.opt-selected {
				opacity: 1;
			}
		}
		&:hover,
		&.focus,
		&.selected.focus {
			background: none;
		}
		&:hover:not(.option.selected) {
			color: $black;
		}
	}
	span {
		outline: none;
		vertical-align: baseline;
	}
	.icon-current {
		position: absolute;
		top: 0;
		right: 8px;
		width: 12px;
		height: 7px;
		svg {
			transform: rotate(-180deg);
			font-size: 2rem;
			fill: $black;
			transition: transform 0.2s;
		}
	}
	&.open {
		.icon-current {
			svg {
				transform: rotate(0deg);
			}
		}
	}
}

.select_empty {
	padding-left: 0;
	padding-right: 3.2rem;
	height: 2.4rem;
	background: none;
	border-radius: 0;
	line-height: 2.4rem;
	.list {
		left: auto;
		right: -1.6rem;
		width: 19.2rem;
		margin-top: 1.9rem;
		@include m {
			left: 0;
			right: 0;
			width: auto;
			margin-top: 7px;
		}
	}
}

@include m {
	.select {
		height: 5.6rem;
		padding-left: 1.6rem;
		padding-right: 3.6rem;
		background: rgba(228, 228, 228, 0.3);
		border-radius: 1.2rem;
		line-height: 5.6rem;
		.current {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.list {
			padding: 2rem 1.6rem;
		}
		.icon-current {
			top: 7px;
			right: 16px;
		}
		.option {
			padding-left: 0;
		}
	}
}
