.h1 {
	font-family: $poppins;
	font-size: 5.6rem;
	line-height: (64/56);
	letter-spacing: -1px;
	font-weight: 600;
}

.h2 {
	font-family: $poppins;
	font-size: 4.8rem;
	line-height: (56/48);
	letter-spacing: -1px;
	font-weight: 600;
}

.h3 {
	font-family: $poppins;
	font-size: 4rem;
	line-height: (48/40);
	letter-spacing: -1px;
	font-weight: 600;
}

.h4 {
	font-family: $poppins;
	font-size: 3.2rem;
	line-height: (40/32);
	letter-spacing: -0.5px;
	font-weight: 500;
}

.h5 {
	font-family: $poppins;
	font-size: 2.4rem;
	line-height: (32/24);
	font-weight: 500;
}

.h6 {
	font-family: $poppins;
	font-size: 1.8rem;
	line-height: (24/18);
	font-weight: 500;
}

body {
	color: $black;
	font-family: $rubik;
}

.status {
	position: relative;
	line-height: 1.6rem;
	font-weight: 700;
	font-size: 1.4rem;
	.positive {
		color: $green;
	}
	.negative {
		color: $red;
	}
}
.positive {
	color: $green-dark;
}
.negative {
	color: $red-light;
}

.color {
	&-gray {
		color: $gray !important;
	}
	&-green {
		color: $green;
	}
}

.bg {
	&-purple {
		background: $purple;
		&-gradient {
			background: linear-gradient(180deg, #a596eb 0%, #6c5dd3 100%);
		}
	}
	&-blue {
		background: $blue;
		&-gradient {
			background: linear-gradient(146.29deg, #b7eaff 14.84%, #57b1e4 92.53%);
		}
	}
	&-green {
		background: $green;
		&-gradient {
			background: linear-gradient(180deg, #86e1a0 0%, #4fbf67 100%);
		}
	}
	&-orange {
		background: $orange;
		&-gradient {
			background: linear-gradient(180deg, #ffce6a 0%, #ff9f38 100%);
		}
	}
	&-pink {
		background: $pink;
		&-gradient {
			background: linear-gradient(180deg, #ffc8f4 0%, #ff98e5 100%);
		}
	}
	&-red {
		background: $red;
		&-gradient {
			background: linear-gradient(180deg, #f0b6ae 0%, #f57d7d 100%);
		}
	}
}

.text {
	&-center {
		text-align: center;
	}
}
