.h1 {
	font-family: $poppins;
	font-size: 5.6rem;
	line-height: (64/56);
	letter-spacing: -1px;
	font-weight: 600;
}

.h2 {
	font-family: $poppins;
	font-size: 4.8rem;
	line-height: (56/48);
	letter-spacing: -1px;
	font-weight: 600;
}

.h3 {
	font-family: $poppins;
	font-size: 4rem;
	line-height: (48/40);
	letter-spacing: -1px;
	font-weight: 600;
}

.h4 {
	font-family: $poppins;
	font-size: 3.2rem;
	line-height: (40/32);
	letter-spacing: -0.5px;
	font-weight: 500;
}

.h5 {
	font-family: $poppins;
	font-size: 2.4rem;
	line-height: (32/24);
	font-weight: 500;
}

.h6 {
	font-family: $poppins;
	font-size: 1.8rem;
	line-height: (24/18);
	font-weight: 500;
}

body {
	color: $black;
	font-family: $rubik;
}

.status {
	position: relative;
	line-height: 1.6rem;
	font-weight: 700;
	font-size: 1.4rem;
	.positive {
		color: $green;
	}
	.negative {
		color: $red;
	}
}
.positive {
	color: $green-dark;
}
.negative {
	color: $red-light;
}

.color {
	&-gray {
		color: $gray !important;
	}
	&-green {
		color: $green;
	}
}

.bg {
	&-purple {
		background: $purple;
	}
	&-blue {
		background: $blue;
	}
}

.text {
	&-center {
		text-align: center;
	}
}
