@charset "UTF-8";

// Config
@import "abstracts/variables", "abstracts/placeholders", "abstracts/mixins";

// Base
@import "base/base", "base/typography";

// Layout
@import "./layout/page", "./layout/header", "./layout/sidebar";

// Components
@import "./components/icons", "./components/buttons", "./components/slider";

// Pages
