@charset "UTF-8";

// Config
@import "abstracts/variables", "abstracts/placeholders", "abstracts/mixins";

// Base
@import "base/base", "base/typography", "base/fields";

// Layout
@import "./layout/page", "./layout/header", "./layout/sidebar";

// Components
@import "./components/icons", "./components/buttons", "./components/slider",
	"./components/widgets", "./components/card", "./components/dropdown",
	"./components/operations", "./components/search";
// Pages
@import "./pages/wallets", "./pages/prices";

//Vendor
@import "./vendor/owl.carousel";
