/// fonts
$rubik: "Rubik", sans-serif;
$poppins: "Poppins", sans-serif;

/// Colors
$black: #11142d;
$blue: #355dff;
$blue-light: #3f8cff;
$dark: #1b1d21;
$gray: #808191;
$gray-dark: rgba(228, 228, 228, 0.3);
$gray-light: #e4e4e4;
$purple: #6c5dd3;
$pink: #ff98e5;
$green: #4fbf67;
$green-dark: #3dbaa2;
$red: #ff6628;
$red-light: #ff7a68;
$orange: #ff9f38;
$white: #ffffff;

/// Dark theme
$dark-bg: #1f2128;
$dark-border: rgba($gray-light, 0.1);
$dark-active: #191b20;
$dark-color: #242731;

$gradient-purple: radial-gradient(
	103.03% 103.03% at 0% 0%,
	#d080ff 0%,
	#6c5dd3 100%
);
$gradient-green: linear-gradient(223.58deg, #86e1a0 12.52%, #4fbf67 75.73%);
