.btn {
	@extend %pointer;
	outline: none;
	background-color: transparent;
	border: none;
	color: inherit;
}
.header_btn,
.slider_btn {
	font-family: $poppins;
	min-width: 11.4rem;
	height: 4.8rem;
	padding: 0 2.4rem;
	border-radius: 1.2rem;
	font-size: 1.4rem;
	font-weight: 600;
	transition: all 0.2s;
}
.btn_white {
	background: $white;
	color: $black;
}
.btn_blue {
	background-color: $blue;
	color: $white;
}

.btn_full {
	min-width: 100%;
}
