.card {
	position: relative;
	&:not(:last-child) {
		margin-bottom: 9.8rem;
		@include d {
			margin-bottom: 6.4rem;
		}
	}
	&_head {
		@extend %flex-between;
		align-items: center;
		margin-bottom: 2.4rem;
	}
	&_btns {
		display: flex;
		margin: 0 -4px;
		&_mt40 {
			margin-top: 4rem;
		}
		.card_btn {
			flex-grow: 1;
			min-width: auto;
			margin: 0 4px;
			padding: 0;
			.icon-edit {
				font-size: 1.6rem;
				margin-right: 0.5rem;
			}
		}
	}
	&_widget {
		padding: 3.2rem;
		border-radius: 2.4rem;
		background: $white;
		@include d {
			display: flex;
			.card_chart {
				flex-shrink: 0;
				width: 24rem;
				margin-right: 2.4rem;
			}
		}
		@include m {
			display: block;
			.card_chart {
				width: 100%;
				margin-right: 0;
			}
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			border-radius: 2.4rem;
		}
		&::before {
			top: 0.8rem;
			left: 0.8rem;
			right: 0.8rem;
			bottom: -0.8rem;
			z-index: -1;
			background: rgba(255, 255, 255, 0.5);
		}
		&::after {
			top: 3.2rem;
			left: 3.2rem;
			right: 3.2rem;
			bottom: -3.2rem;
			z-index: -2;
			background: $gray-light;
			filter: blur(8.6985rem);
		}
	}
	&_next {
		@extend %flex-center;
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		z-index: 3;
		width: 2.4rem;
		height: 2.4rem;
		border-radius: 50%;
		background: $white;
		box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
		.icon {
			font-size: 1.4rem;
			fill: $black;
			transition: fill 0.2s;
			&:hover {
				fill: $gray;
			}
		}
	}
	&_chart {
		&_total-balance {
			height: 22rem;
			margin-top: -1.5rem;
			@include d {
				margin-top: 0;
			}
		}
	}
	&_inner {
		.card_title {
			margin-bottom: 1.6rem;
		}
		.card_price {
			margin-bottom: 3.2rem;
		}
		@include d {
			text-align: left;
			.card_price {
				margin-bottom: 2.4rem;
			}
		}
		@include m {
			text-align: center;
		}
	}
	&_currency {
		display: inline-block;
		margin-bottom: 0.3rem;
		padding: 0 1.1rem;
		border-radius: 1.3rem;
		background: $orange;
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 2.6rem;
		color: $white;
	}
}
