.page {
	overflow: hidden;
	&.wide {
		.page_content {
			padding-left: 9.6rem;
		}
	}
}
.page_content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-left: 25.5rem;
	transition: padding 0.2s;
	@include d {
		padding-left: 9.6rem;
	}
	@include t {
		padding-left: 0;
		transition: transform 0.2s;
	}
}

.page_row {
	display: flex;
	flex-grow: 1;
	@include w {
		padding: 0 6.4rem 6.4rem;
	}
	@include x {
		padding: 0 4.8rem 6.4rem;
	}
	@include d {
		display: block;
		padding: 0 6.4rem 6.4rem;
	}
	@include m {
		padding: 0 1.6rem 3.2rem;
	}
	.page_col {
		padding: 0 6.4rem 6.4rem;
		@include w {
			padding: 0;
		}
		&:first-child {
			flex: 0 0 calc(100% - 42.6rem);
			max-width: calc(100% - 42.6rem);
			@include w {
				flex: 0 0 calc(100% - 29rem);
				max-width: calc(100% - 29rem);
				padding-right: 6.4rem;
			}
			@include x {
				padding-right: 4.8rem;
			}
			@include d {
				max-width: 100%;
				margin-bottom: 6.4rem;
				padding: 0;
			}
			@include m {
				margin-bottom: 4.2rem;
			}
		}
		&:nth-child(2) {
			flex: 0 0 42.6rem;
			width: 42.6rem;
			border-left: 1px solid $gray-light;
			@include w {
				flex: 0 0 29rem;
				width: 29rem;
				border: none;
			}
			@include d {
				width: 100%;
			}
		}
	}
}

.page.toggle .page_content {
	@include t {
		transform: translateX(25.5rem);
	}
}

// Dark Mode
.dark {
	background: $dark-bg;
	color: $white;
	.icon_dark {
		display: block;
	}
	.icon_light {
		display: none;
	}
	.chevronLang {
		color: $white;
	}
	.sidebar {
		background: $dark-bg;
		border-color: $dark-border;

		&_logo_dark {
			display: block;
		}

		&_logo_light {
			display: none;
		}

		&_input {
			background: $dark-active;
			color: $white;
		}
		.icon_search,
		.icon_close {
			fill: $gray;
		}
		&_item {
			&:hover {
				color: $gray-light;
				.icon {
					fill: $gray-light;
				}
			}
			&.active {
				background: $dark-active;
				color: $blue-light;
			}
		}
	}
	.header_logo {
		&_dark {
			display: block;
		}
		&_light {
			display: none;
		}
	}
	.header_border:before {
		background: $dark-border;
	}
	.header_item {
		.header_head {
			color: $white;
		}
		.header_body {
			border-color: $dark-border;
			background-color: $dark-color;
		}
		&-lang {
			.header_cel:first-child {
				border-right: 1px solid $dark-border;
			}
		}
		&-notifications {
			.header_body {
				.notification:not(:last-child) {
					border-bottom: 1px solid $dark-border;
				}
			}
		}
	}
}

.no-scroll {
	overflow: hidden;
}
