.page {
	overflow: hidden;
	&.wide {
		.page_content {
			padding-left: 9.6rem;
		}
	}
}
.page_content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-left: 25.5rem;
	transition: padding 0.2s;
	@include d {
		padding-left: 9.6rem;
	}
	@include t {
		padding-left: 0;
		transition: transform 0.2s;
	}
}
.page.toggle .page_content {
	@include t {
		transform: translateX(25.5rem);
	}
}

// Dark Mode
.dark {
	background: $dark-bg;
	color: $white;
	.icon_dark {
		display: block;
	}
	.icon_light {
		display: none;
	}
	.chevronLang {
		color: $white;
	}
	.sidebar {
		background: $dark-bg;
		border-color: $dark-border;

		&_logo_dark {
			display: block;
		}

		&_logo_light {
			display: none;
		}

		&_input {
			background: $dark-active;
			color: $white;
		}
		.icon_search,
		.icon_close {
			fill: $gray;
		}
		&_item {
			&:hover {
				color: $gray-light;
				.icon {
					fill: $gray-light;
				}
			}
			&.active {
				background: $dark-active;
				color: $blue-light;
			}
		}
	}
	.header_logo {
		&_dark {
			display: block;
		}
		&_light {
			display: none;
		}
	}
	.header_border:before {
		background: $dark-border;
	}
	.header_item {
		.header_head {
			color: $white;
		}
		.header_body {
			border-color: $dark-border;
			background-color: $dark-color;
		}
		&-lang {
			.header_cel:first-child {
				border-right: 1px solid $dark-border;
			}
		}
		&-notifications {
			.header_body {
				.notification:not(:last-child) {
					border-bottom: 1px solid $dark-border;
				}
			}
		}
	}
}

.no-scroll {
	overflow: hidden;
}
